<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="frm_Telefon_Rehberi_Ajanda.Properties.Settings.ConnectionString"
            connectionString="Provider=SQLNCLI11;Data Source=DESKTOP-8J65VLQ\MSSQLSERVER2017;Integrated Security=SSPI;Initial Catalog=telefon_rehberi_ajanda"
            providerName="System.Data.OleDb" />
        <add name="frm_Telefon_Rehberi_Ajanda.Properties.Settings.telefon_rehberi_ajandaConnectionString"
            connectionString="Data Source=DESKTOP-8J65VLQ\MSSQLSERVER2017;Initial Catalog=telefon_rehberi_ajanda;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="frm_Telefon_Rehberi_Ajanda.Properties.Settings.telefon_rehberi_ajandaConnectionString1"
            connectionString="Data Source=ODABILGISAYARı;Initial Catalog=telefon_rehberi_ajanda;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>